.header {
  text-align: center;
}

.searchBar {
  min-width: 100% !important;
}

.squareBtn {
  border-radius: 3px !important;
  text-align: right;
}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #fff;
  width: 165px;
}
.todoListMain .header form button {
  padding: 10px;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 0px;
  color: #fff;
  border: 2px solid #fc6e20;
}
.todoListMain .header form button:hover {
  background-color: #bb5017;
  border: 2px solid #d45e1e;
  cursor: pointer;
  transition: all 0.5s;
}

.todoListMain .header button:hover {
  background-color: black;
  border: 2px solid #4b4a4a;
  cursor: pointer;
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 100%;
}
.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 6px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
ul.theList {
  padding: 0;
}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 6px;
  margin-bottom: 15px;
  border-radius: 5px;

  transition: background-color 0.2s ease-out;
}

.todoListMain .theList li:hover {
  background-color: #66ccff69;
  cursor: pointer;
}

form {
  display: inline-block;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  color: #fff;
  border: 2px solid #323232;
}

.lineThrough {
  text-decoration: line-through;
}

.paper {
  padding: 30px 47px 47px 47px;
  min-width: 300px;
  border-radius: 0 0 3px 3px !important;
}

.title {
  font-size: 14px !important;
}

.headerPaper {
  background: black !important;
}

.appBarStyle {
  height: auto;
  padding: 20px 47px;
  background: #323232 !important;
  border-radius: 3px 3px 0 0 !important;
}

.dayToday {
  font-weight: bold !important;
  font-size: 2.5rem !important;
  color: #fc6e20;
}

.getDays {
  color: #696969;
}

.getYears {
  color: #a3a3a3;
}

.gridMargin {
  margin-bottom: 25px !important;
}

.iconAlign {
  text-align: right;
}

.addIcon {
  background: #fc6e20 !important;
}

.sortIcon {
  background: #323232 !important;
}

.iconSpacing {
  right: 0 !important;
}
